.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 50px;
	height: 0;
}

.video iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    height: 550px;
}
